/*
Print
============================================================================ */

@media print {

	body { 
		background: white; 
		color: black; 
		margin: 0; 
	}
	
	a[href]:after {
		content: "";
	}
	
	.container-fluid {
		padding: 0;
		margin: 0;
	}

	.social-networks {
		display: none;
	}

	.header {
		position: relative;
		display: block;
		margin: 0;
		padding: 0;
	}

	/* Galeries */
	.gallery-item {

		.gallery-columns-2 &,
		.gallery-columns-3 &,
		.gallery-columns-4 &,
		.gallery-columns-5 &,
		.gallery-columns-6 & { 
			width: 100%; 
		}

	}

	.site-footer {
		background: white;
		padding: 0;
		margin: 24px 0 0 0;
	}

}
