/*
App
============================================================================ */

/**
 *
 * App
 *
 */
.app {
	position: relative;
}


/**
 *
 * Site Main
 *
 */
.site-main {
	position: relative;

	opacity: 0;
	transition: opacity 500ms $default-bezier;

	&.loaded {
		opacity: 1;
	}

}
