// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.

//
// Animation
// ============================================================================

$default-bezier						: cubic-bezier(0.25,0.1,0.25,1);

//
// UX
// ============================================================================

$hamburger-padding-x                       	: 0px;
$hamburger-padding-y                       	: 0px;
$hamburger-layer-width                     	: 24px;
$hamburger-layer-height                    	: 2px;
$hamburger-layer-spacing                   	: 6px;
$hamburger-layer-color                     	: #000;
$hamburger-layer-border-radius             	: 0px;
$hamburger-hover-opacity                   	: 0.7;
$hamburger-hover-transition-duration       	: 0.15s;
$hamburger-hover-transition-timing-function	: linear;
$hamburger-hover-use-filter					: false;
$hamburger-hover-filter						: opacity(100%);

$hamburger-types: (
  elastic
);

//
// Bootstrap
// ============================================================================

//
// Color system
//

// stylelint-disable
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$grays: ();
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$colors: ();
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$body-bg:                   $white;
$body-color:                $gray-900;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 720px,
  md: 992px,
  lg: 1180px,
  xl: 1500px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 690px,
  md: 960px,
  lg: 1148px,
  xl: 1570px
);
